.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    height: 85px;
}

.header>h1 {
    font-size: 40px;
}

.profile-container{
    width: 6%;
}

.profile-container>img {
    height: 60%;
    width: 100%;
}